<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.sc.module.equipment.dao.EquipmentTypeMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="EquipmentType_columns">
	    <![CDATA[
			id as id,
			equipment_type as equipment_type,
			create_time as create_time,
			equipment_supplier_id as equipment_supplier_id,
			status as status,
			type_num as type_num
	    ]]>
	</sql>
	<!-- 字段与属性映射 -->
	<resultMap type="com.bit.sc.module.equipment.pojo.EquipmentType" id="equipmentTypeMap">
		<id column="id" property="id"/>
	    <result column="equipment_type" property="equipmentType"/>
	    <result column="create_time" property="createTime"/>
	    <result column="equipment_supplier_id" property="equipmentSupplierId"/>
	    <result column="status" property="status"/>
	    <result column="type_num" property="typeNum"/>
	</resultMap>
	<!-- 翻页查询 -->
	<select id="findByConditionPage" resultMap="equipmentTypeMap" parameterType="com.bit.sc.module.equipment.vo.EquipmentTypeVO">
		select <include refid="EquipmentType_columns" /> from t_equipment_type
		<where>
			<if test="id != null and id != '' " >and id =#{id,jdbcType=BIGINT}</if>
			<if test="equipmentType != null and equipmentType != '' " >and equipment_type =#{equipmentType,jdbcType=VARCHAR}</if>
			<if test="equipmentSupplierId != null and equipmentSupplierId != '' " >and equipment_supplier_id =#{equipmentSupplierId,jdbcType=BIGINT}</if>
			<if test="status != null and status != '' " >and status =#{status,jdbcType=BIGINT}</if>
			<if test="typeNum != null and typeNum != '' " >and type_num =#{typeNum,jdbcType=INTEGER}</if>
		</where>
		<if test="orderBy!=null and orderBy!=''">
		ORDER BY ${orderBy}
		</if>
		<if test="order!=null and order!=''">
		${order}
		</if>
	</select>
	<!-- 查询全部 -->
	<select id="findAll" resultMap="equipmentTypeMap" parameterType="String">
		select <include refid="EquipmentType_columns" /> from t_equipment_type
		<if test="sorter!=null and sorter!=''">
			ORDER BY ${sorter}
		</if>
	</select>
	<!-- 查询单条记录 -->
	<select id="findById" resultMap="equipmentTypeMap" parameterType="com.bit.sc.module.equipment.pojo.EquipmentType">
		select <include refid="EquipmentType_columns" /> 
		from t_equipment_type
		where 
        	id =#{id,jdbcType=BIGINT}

	</select>

	<!-- 添加一条记录 -->
	<insert id="add" parameterType="com.bit.sc.module.equipment.pojo.EquipmentType">
	insert INTO t_equipment_type (
		equipment_type ,
		create_time ,
		equipment_supplier_id ,
		status ,
		type_num
	) VALUES (
		#{equipmentType,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{equipmentSupplierId,jdbcType=BIGINT},
		#{status,jdbcType=BIGINT},
		#{typeNum,jdbcType=INTEGER}
	)
	</insert>
	<!-- 修改一条记录 -->
	<update id="update" parameterType="com.bit.sc.module.equipment.pojo.EquipmentType">
		update t_equipment_type
		<set>
		<if test="equipmentType != null">
		 equipment_type =#{equipmentType,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		 create_time =#{createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="equipmentSupplierId != null">
		 equipment_supplier_id =#{equipmentSupplierId,jdbcType=BIGINT}
		</if>
		<if test="status != null">
			status =#{status,jdbcType=BIGINT}
		</if>
		<if test="typeNum != null">
			type_num =#{typeNum,jdbcType=INTEGER}
		</if>
		</set>
		where 
			 id = #{id,jdbcType=BIGINT}

	</update>
	<!-- 删除一条记录 -->
	<delete id="delete" parameterType="com.bit.sc.module.equipment.pojo.EquipmentType">
		delete from t_equipment_type 
		where
			id = #{id,jdbcType=BIGINT}

	</delete>
		<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">
		<foreach item="item" index="index" collection="list" open="begin" close=";end;" separator =";">
			delete from t_equipment_type
			id in (
			<foreach collection="ids" item="id" separator=",">
				#{id}
			</foreach>
			)
		</foreach>
	</delete>

	<!-- 查询全部 -->
	<select id="findAllByStatus" resultMap="equipmentTypeMap">
		select <include refid="EquipmentType_columns" /> from t_equipment_type
		where status = 1
	</select>
</mapper>