<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.sc.module.equipment.dao.SupplierMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Supplier_columns">
	    <![CDATA[
			id as id,
			supplier_name as supplier_name,
			supplier_phone as supplier_phone,
			supplier_address as supplier_address,
			create_time as create_time,
		
			create_user_id as create_user_id,
			is_delete as is_delete,
			equipment_id as equipment_id
	    ]]>
	</sql>
	<!-- 字段与属性映射 -->
	<resultMap type="com.bit.sc.module.equipment.pojo.Supplier" id="supplierMap">
		<id column="id" property="id"/>
	    <result column="supplier_name" property="supplierName"/>
	    <result column="supplier_phone" property="supplierPhone"/>
	    <result column="supplier_address" property="supplierAddress"/>
	    <result column="create_time" property="createTime"/>
	    <result column="create_user_id" property="createUserId"/>
	    <result column="is_delete" property="isDelete"/>
	    <result column="equipment_id" property="equipmentId"/>
	</resultMap>
	<!-- 翻页查询 -->
	<select id="findByConditionPage" resultMap="supplierMap" parameterType="com.bit.sc.module.equipment.vo.SupplierVO">
		select <include refid="Supplier_columns" /> from t_supplier
		<where>
			<if test="id != null and id != '' " >and id =#{id,jdbcType=BIGINT}</if>
			<if test="supplierName != null and supplierName != '' " >and supplier_name =#{supplierName,jdbcType=VARCHAR}</if>
			<if test="supplierPhone != null and supplierPhone != '' " >and supplier_phone =#{supplierPhone,jdbcType=VARCHAR}</if>
			<if test="supplierAddress != null and supplierAddress != '' " >and supplier_address =#{supplierAddress,jdbcType=VARCHAR}</if>
			<if test="createUserId != null and createUserId != '' " >and create_user_id =#{createUserId,jdbcType=BIGINT}</if>
			<if test="isDelete != null and isDelete != '' " >and is_delete =#{isDelete,jdbcType=TINYINT}</if>
			<if test="equipmentId != null and equipmentId != '' " >and equipment_id =#{equipmentId,jdbcType=BIGINT}</if>
		</where>
		<if test="orderBy!=null and orderBy!=''">
		ORDER BY ${orderBy}
		</if>
		<if test="order!=null and order!=''">
		${order}
		</if>
	</select>
	<!-- 查询全部 -->
	<select id="findAll" resultMap="supplierMap" parameterType="String">
		select <include refid="Supplier_columns" /> from t_supplier
		<if test="sorter!=null and sorter!=''">
			ORDER BY ${sorter}
		</if>
	</select>
	<!-- 查询单条记录 -->
	<select id="findById" resultMap="supplierMap" parameterType="com.bit.sc.module.equipment.pojo.Supplier">
		select <include refid="Supplier_columns" /> 
		from t_supplier
		where 
        	id =#{id,jdbcType=BIGINT}

	</select>

	<!-- 添加一条记录 -->
	<insert id="add" parameterType="com.bit.sc.module.equipment.pojo.Supplier">
	insert INTO t_supplier (
		supplier_name ,
		supplier_phone ,
		supplier_address ,
		create_time ,
		create_user_id ,
		is_delete ,
		equipment_id 
	) VALUES (
		#{supplierName,jdbcType=VARCHAR},
		#{supplierPhone,jdbcType=VARCHAR},
		#{supplierAddress,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{createUserId,jdbcType=BIGINT},
		#{isDelete,jdbcType=TINYINT},
		#{equipmentId,jdbcType=BIGINT}
	)
	</insert>
	<!-- 修改一条记录 -->
	<update id="update" parameterType="com.bit.sc.module.equipment.pojo.Supplier">
		update t_supplier
		<set>
		<if test="supplierName != null">
		 supplier_name =#{supplierName,jdbcType=VARCHAR},
		</if>
		<if test="supplierPhone != null">
		 supplier_phone =#{supplierPhone,jdbcType=VARCHAR},
		</if>
		<if test="supplierAddress != null">
		 supplier_address =#{supplierAddress,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null">
		 create_time =#{createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="createUserId != null">
		 create_user_id =#{createUserId,jdbcType=BIGINT},
		</if>
		<if test="isDelete != null">
		 is_delete =#{isDelete,jdbcType=TINYINT},
		</if>
		<if test="equipmentId != null">
		 equipment_id =#{equipmentId,jdbcType=BIGINT}
		</if>
		</set>
		where 
			 id = #{id,jdbcType=BIGINT}

	</update>
	<!-- 删除一条记录 -->
	<delete id="delete" parameterType="com.bit.sc.module.equipment.pojo.Supplier">
		delete from t_supplier 
		where
			id = #{id,jdbcType=BIGINT}

	</delete>
		<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">
		<foreach item="item" index="index" collection="list" open="begin" close=";end;" separator =";">
			delete from t_supplier
			id in (
			<foreach collection="ids" item="id" separator=",">
				#{id}
			</foreach>
			)
		</foreach>
	</delete>
</mapper>